.buttonsDiv{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.buttonsDiv button{
    padding: 1rem;
    background-color:rgba(0, 0, 255, 0.219);
    border-radius: 1rem;
}
.playerDiv{
    margin-top: 2rem;
    text-align: left;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
}
.playerDiv i{
    font-size: 4rem;
}
.playerDiv input{
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
}
.playerDiv button{
    padding: 0.6rem;
    background-color:rgba(0, 0, 255, 0.219);
    border-radius: 1rem;
}
.playerDiv p{
    margin-top: 1rem;
    font-family: var(--font-subtittle);
    font-size: 1.5rem;
}
.resultado{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.resultadoCorreto{
    font-family: var(--font-tittle);
    color: green;
}
.resultadoErrado{
    font-family: var(--font-tittle);
    color: red;
}
#modeGame{
    margin-bottom: 5rem;
    padding-bottom: 7rem;
}